doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel='stylesheet', href='style.css')
    block title
      title Springbridge Library

body
  block content